.page.theme_dark {
    --decoration-color: rgba(255, 0, 112, 1);
    --background-image: url("../images/cover-image-dark.png");
    --background-color: rgba(0, 0, 40, 1);
    --border-button-color: rgba(255, 0, 112, 0.4);
    --font-button-color: rgba(255, 0, 112, 1);
    --header-text-color: rgba(219, 0, 255, 1);
    --header-shadow-color: rgba(255, 0, 112, 1);
    --font-text-color: rgba(0, 0, 40, 1);
    --font-article-header-color: rgba(255, 0, 112, 1);
    --article-text-color: rgba(241, 178, 206, 1);
    --light-disp: flex;
}
