.page {
    background-image: var(--background-image);
    background-color: var(--background-color);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding) var(--padding) 17.45vh 0;
    position: relative;
    min-height: 100vh;
}

.header__no-focus {
    text-align: left;
    margin-top: 35.55vh;
    text-shadow: 4px 4px var(--header-shadow-color);
}

.focus-title {
    font-family: var(--font-family);
    font-size: var(--header-size-desktop);
    font-weight: 700;
    line-height: 16.93vh;
    letter-spacing: 0;
    color: var(--header-text-color);
}

.header__title {
    margin-top: 14.84vh;
    align-self: end;
    justify-self: end;
    max-width: 47.95vw;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: var(--text-line-height);
    letter-spacing: 0;
    text-align: left;
    color: var(--font-text-color);
}

.title-decorations {
    background-color: var(--decoration-color);
}

.header__theme-menu {
    display: flex;
    justify-content: center;
    padding-left: var(--padding);
    z-index: 2;
}

.header__theme-menu-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header__theme-menu-button {
    background-color: transparent;
    border: 1px solid transparent;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    padding: 1px 12px 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    color: var(--font-button-color);
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--border-focus-button-color);
}

.header__theme-menu-button:hover {
    border: 1px solid var(--border-hover-button-color);
    cursor: pointer;
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--border-button-color);
}

.header__lighting {
    position: absolute;
    right: 29px;
    top: 20px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
    color: var(--decoration-color);
    display: var(--lighting-display-type);
    align-items: center;
    gap: 10px;
}

.header__lighting:after {
    content: "";
    background-color: var(--decoration-color);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--decoration-color);
}

.content {
    color: var(--article-text-color);
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 7.81vh;
}

.content__block {
    display: grid;
    grid-template-columns:30.76vw 1fr;
    padding: 0 var(--padding) 0 var(--padding);
    gap: var(--padding);
}

.content__block:last-child {
    padding-bottom: 7.81vh;
}

.content__block-horizontal {
    display: flex;
    flex-direction: column;
}

.content-header {
    font-size: 18px;
    line-height: var(--text-line-height);
    font-weight: 700;
}

.content__block-header {
    max-width: 30.76vw;
    color: var(--font-article-header-color);
}

.content__block-header-article {
    color: var(--font-text-color);
}

.content__block-content-box {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.content__block-horizontal-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content__block-article {
    display: flex;
    flex-direction: column;
}

.content__block-article-text {
    padding-top: 10px;
}

.no-bold {
    font-weight: 400;
}

.content__gallery {
    display: grid;
    grid-template-areas:
    "image-sunset image-sunset image-ice-cream"
    "image-tape image-books image-ice-cream"
    "image-tape image-street image-street";
    gap: var(--padding);
}

.content__gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-sunset {
    grid-area: image-sunset;
}

.image-ice-cream {
    grid-area: image-ice-cream;
}

.image-tape {
    grid-area: image-tape;
}

.image-books {
    grid-area: image-books;
}

.image-street {
    grid-area: image-street;
}

.link {
    text-decoration: none;
    text-shadow: 2px 2px var(--decoration-color);
}

.link:hover {
    border-bottom: 1px solid var(--article-text-color);
    cursor: pointer;
}

.link:focus {
    text-decoration: none;
    outline: 1px solid var(--article-text-color);
}

.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    justify-content: center;
}

.footer__focus {
    text-shadow: 2px 2px var(--header-shadow-color);
    text-align: center;
}

.decorated-zone:before, .decorated-zone:after {
    border: 1px solid var(--font-article-header-color);
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
}

.decorated-zone:before {
    border-left: none;
    border-bottom: none;
    top: var(--padding);
    right: var(--padding);
}

.decorated-zone:after {
    border-right: none;
    border-top: none;
    bottom: var(--padding);
    left: var(--padding);
}

@media (max-width: 768px) {
    .header {
        padding-bottom: 17.87vh;
    }

    .header__no-focus {
        line-height: 9.67vh;
        margin-top: 17.13vh;
    }

    .header__title {
        margin-top: 15.82vh;
        max-width: 47.40vw;
    }

    .header__theme-menu {
        justify-content: flex-end;
        margin-top: 16.80vh;
    }

    .header__theme-menu-list {
        flex-direction: column;
    }

    .header__lighting {
        line-height: 25px;
    }

    .content {
        padding-top: 5.81vh;
    }

    .content__block {
        grid-template-columns: 30.73vw 1fr;
    }

    .content__block:last-child {
        padding-bottom: 5.81vh;
    }

    .content__block-header {
        max-width: 30.73vw;
    }

    .content__block-horizontal-content {
        display: flex;
        flex-direction: column;
        gap: var(--padding);
    }
}

@media (max-width: 595px) {
    .header {
        padding: 10px 10px 9.88vh 10px;
    }

    .focus-title {
        font-size: var(--header-size-mobile);
        line-height: 0.825em;
    }

    .header__no-focus {
        margin-top: 9.73vh;
    }

    .header__title {
        margin-top: 8.23vh;
        max-width: none;
    }

    .header__theme-menu {
        margin-top: 9.73vh;
    }

    .header__decorations {
        padding: 10px;
    }

    .header__lighting {
        right: 19px;
        top: 10px;
        line-height: 25px;
    }

    .content {
        padding-top: 5.99vh;
        gap: 50px;
    }

    .content__block {
        display: flex;
        flex-direction: column;
        padding: 0 10px 0 10px;
    }

    .content__block:last-child {
        gap: 10px;
        padding-bottom: 5.99vh;
    }

    .content__block-header {
        max-width: max-content;
    }

    .content__gallery {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .decorated-zone:after {
        left: 10px;
        bottom: 10px;
    }

    .decorated-zone:before {
        top: 10px;
        right: 10px;
    }
}
